*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 2;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header .menuitem{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-right: 1px solid black;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.menuitem:hover{
    border-bottom: 6px solid black;
    font-size: 2.4rem;
}

.menuitem.active{
    border-bottom: 6px solid red;
}

.page{
    position: fixed;
    left: -100vw;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    transition: 0.6s all ease-in-out;
}

.visible{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.box{
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
    border: 1px solid white;
    position: relative;
}

.absolute{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: whitesmoke;
}

.fixed{
    position: fixed;
    top: 2rem;
    left: 2rem;
    color: lightgrey;
    font-size: 4rem;
    font-variant: small-caps;
    text-shadow: 4px 4px 4px rgb(104, 242, 104);
}

#imagebox{
    background-image: url(./assets/matt-hardy-6ArTTluciuA-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

#rightimage{
    width: 100%;
    height: 100%;
    background-image: url(./assets/engin-akyurt-RFt2XrTJllM-unsplash.jpg);
    background-size: cover;
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#page1{
    background-color: lightskyblue;
}
#page2{
    background-color: lightpink;
}
#page3{
    background-color: lightgray;
    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;
}

#page4{
    background-color: lightsalmon;
}

h1{
    font-family: Raleway;
    color: black
}
