*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';

}

header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 2;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 0.3s ease-in-out;
}

header.hidden{
    height: 2vh;

}

header.hidden:hover{
    height: 12vh;
}

header#leftmenu{
    width: 20vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 10rem);
}

header .menuitem{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.menuitem:hover{
    border-bottom: 6px solid black;
    font-size: 2.4rem;
}

.menuitem.active{
    border-bottom: 6px solid steelblue;
}

header.hidden .menuitem{
    font-size: 0;
}

header.hidden:hover .menuitem{
    font-size: 2rem;
}

.page{
    position: fixed;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    top: 0vw;
    display: grid;
    place-items: center;
    transition: 0.6s all ease-in-out;
}

.visible{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#page1{
    background-color: lightskyblue;
}



#page2{
    background-color: lightpink;
    grid-template-rows: 5fr 9fr 0fr 12fr;
}
 
#værker{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5, 6fr);
    border: 1px solid black;

}
 
#værker .web{
    border:1px solid black;
    background-image: url(./assets/assets1/web\ of\ lie.jpg);
    background-size: cover;
}

#værker .tangled{
    border:1px solid black;
    background-image: url(./assets/assets1/Tangled\ Truth.jpg);
    background-size: cover;
}

#værker .wicked{
    border:1px solid black;
    background-image: url(./assets/assets1/Wicked\ Deceit.jpg);
    background-size: cover;
}

#værker .bitter{
    border:1px solid black;
    background-image: url(./assets/assets1/bitter\ notes.jpg);
    background-size: cover;
}

#værker .sweet{
    border:1px solid black;
    background-image: url(./assets/assets1/sweet\ strings.jpg);
    background-size: cover;
}

#page3{
    background-color: lightgoldenrodyellow;
}

#page4{
    background-color: lightsalmon;
}

h1{
    font-family: Raleway;
    color: black
}
